.top-nav
  height: 50px
  width: 100%
  background-color: $gray
  @media (max-width: 680px)
    overflow-x: auto
  &__list
    display: flex
    gap: 30px
    justify-content: center
    align-items: center
    height: 100%
    list-style: none
    @media (max-width: 500px)
      width: 470px
  &__link
    text-decoration: none
    color: #333333
    font-size: 14px
    line-height: 16px
    font-weight: 400
