.header
  width: 100%
  &__inner
    height: 120px
    border-bottom: 1px solid $gray
  &__main
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    gap: 40px
    align-items: center
  &__phone
    text-decoration: none
    color: $text
    font-size: 16px
    font-weight: 400
    line-height: 19px
  &__btn
    text-decoration: none
    color: $text
    font-size: 14px
    font-weight: 400
    line-height: 16px
