@import "vars"
@import "fonts"
@import "libs"

*
	padding: 0
	margin: 0

*,*::before,*::after
	box-sizing: border-box

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #777 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.wrapper
	position: relative
	width: 100%
	max-width: 1920px
	height: auto
	margin: 0 auto

.container
	max-width: 1110px
	width: 100%
	margin: 0 auto
	height: 100%
	@media (max-width: 1200px)
		padding: 0 25px

.button
	display: inline-block
	text-align: center
	padding: 12px 25px
	height: 40px
	border: 2px solid #66C05D
	border-radius: 40px
	text-decoration: none
	color: $text
	font-size: 14px
	font-weight: 400
	line-height: 1

.promotion
	background: url('../img/armchair_bg.jpg') no-repeat
	background-position: center center
	height: 604px
	@media (max-width: 700px)
		background-position: 59% 50%
	&__info
		max-width: 308px
		padding-top: 192px
		@media (max-width: 700px)
			text-shadow: 1px 1px 2px $text
	&__title
		font-family: RobotoBold, sans-serif
		font-size: 48px
		font-weight: 700
		line-height: 56px
		color: $white
		margin-bottom: 50px
	&__text
		font-size: 14px
		font-weight: 400
		line-height: 20px
		color: $white
		margin-bottom: 50px
	&__btn
		border-color: $white
		color: $white
		width: 170px
		@media (max-width: 700px)
			background-color: $accent
			text-shadow: none

.special-offers
	background-color: $gray
	padding-top: 80px
	padding-bottom: 100px
	@media (max-width: 780px)
		padding-bottom: 70px
	&__title
		font-family: RobotoBold, sans-serif
		font-size: 24px
		font-weight: 700
		line-height: 28px
		color: $text
		margin-bottom: 38px
	&__row
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(255px, 1fr))
		gap: 30px
		position: relative
	&__row::after
		content: ''
		position: absolute
		width: 189px
		height: 61px
		right: 45px
		top: -78px
		background: url('../img/car.png') no-repeat
		@media (max-width: 620px)
			display: none
	&__cart
		background-color: $white
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px 30px
	&__img
		margin-bottom: 20px
	&__discription
		text-align: center
		font-size: 14px
		font-weight: 400
		line-height: 20px
		color: #333333
		margin-bottom: 20px
	&__price
		font-family: RobotoMedium, sans-serif
		text-align: center
		font-size: 21px
		font-weight: 500
		line-height: 25px
		letter-spacing: 0.05em
		color: $text
		margin-bottom: 20px
	&__btn
		background-color: $accent
		color: $white
		width: 130px
		height: 35px
		padding: 9px 25px
		letter-spacing: 0.05em

.gifts-info
	background-color: $gray
	padding-bottom: 133px
	@media (max-width: 780px)
		padding-bottom: 70px
	&__row
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
		gap: 30px
		@media (max-width: 390px)
			grid-template-columns: 1fr
	&__col
		background-color: $accent
		padding: 35px 40px
		@media (max-width: 390px)
			padding: 20px
	&__col:first-of-type
		position: relative
	&__col:first-of-type::after
		content: ''
		position: absolute
		width: 140px
		height: 140px
		background: url('../img/envelope.svg') no-repeat
		right: 45px
		top: 36px
		@media (max-width: 1000px)
			display: none
		@media (max-width: 779px)
			display: block
		@media (max-width: 530px)
			display: none
	&__form
		max-width: 250px
		position: relative
	&__title
		font-family: RobotoMedium, sans-serif
		font-size: 18px
		font-weight: 700
		line-height: 21px
		color: $white
		margin-bottom: 25px
	&__text
		font-size: 14px
		font-weight: 400
		line-height: 20px
		color: $white
		margin-bottom: 25px
	&__input
		max-width: 225px
		width: 100%
		height: 35px
		border-radius: 30px
		border: none
		padding: 9px 25px
	&__input::placeholder
		color: #C4C4C4
		font-size: 14px
		font-weight: 400
		line-height: 16px
	&__box
		max-width: 170px
	&__btn
		color: $white
		border-color: $white

@import "../blocks/header/header.sass"
@import "../blocks/top-nav/top-nav.sass"
@import "../blocks/logo/logo.sass"
@import "../blocks/nav/nav.sass"
@import "../blocks/btn/btn.sass"
@import "../blocks/footer/footer.sass"
